/build/
*.~ml
/IPT_JAX-RS_2.0_Demos/HelloREST/nbproject/private/
/IPT_JAX-RS_2.0_Demos/RestfulHello/nbproject/private/
/IPT_JAX-RS_2.0_Demos/PollingDemoSubresourceJPA/nbproject/private/
/IPT_JAX-RS_2.0_Demos/PollingDemoSubresourceJPA/build/
/IPT_JAX-RS_2.0_Demos/PollingDemoSubresourceJPA/dist/
/IPT_JAX-RS_2.0_Demos/org.glassfish.jersey.examples_bookmark-em_war_2.13/target/
/IPT_JAX-RS_2.0_Demos/PollingDemoHATEOAS/nbproject/private/
/IPT_JAX-RS_2.0_Demos/PollingDemoHATEOAS/build/